* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #444;
}

body {
    background-color: #F6F9FC;
}

.wrapper {
    margin: 5% auto;
    width: 35%;
    overflow: hidden;

    .title {
        margin-bottom: 15%;
        text-align: center;
    }

    .information {
        width: 100%;
        position: fixed;
        bottom: 0;
        line-height: 4rem;
        font-size: .8rem;
        text-align: center;
        left: 0;
        color: #999;

        a {
            color: #2980b9;
        }
    }
}
