<div class="wrapper">
    <h1 class="title">{{ title }}</h1>
    <card-stack>
        <card [name]="'Card 1'" [description]="'Description 1'"></card>
        <card [name]="'Card 2'" [description]="'Description 2'"></card>
        <card [name]="'Card 3'" [description]="'Description 3'"></card>
        <card [name]="'Card 4'" [description]="'Description 4'"></card>
        <card [name]="'Card 5'" [description]="'Description 5'"></card>
        <card [name]="'Card 6'" [description]="'Description 6'"></card>
        <card [name]="'Card 7'" [description]="'Description 7'"></card>
        <card [name]="'Card 8'" [description]="'Description 8'"></card>
        <card [name]="'Card 9'" [description]="'Description 9'"></card>
        <card [name]="'Card 10'" [description]="'Description 10'"></card>
        <card [name]="'Card 11'" [description]="'Description 11'"></card>
        <card [name]="'Card 12'" [description]="'Description 12'"></card>
        <card [name]="'Card 13'" [description]="'Description 13'"></card>
        <card [name]="'Card 14'" [description]="'Description 14'"></card>
        <card [name]="'Card 15'" [description]="'Description 15'"></card>
        <card [name]="'Card 16'" [description]="'Description 16'"></card>
        <card [name]="'Card 17'" [description]="'Description 17'"></card>
        <card [name]="'Card 18'" [description]="'Description 18'"></card>
        <card [name]="'Card 19'" [description]="'Description 19'"></card>
        <card [name]="'Card 20'" [description]="'Description 20'"></card>
    </card-stack>
    <p class="information">
        Best results in Chrome. Experimental. Made by <a href="https://nikx.io">nikx.io</a>.
    </p>
</div>
